{% extends '::base.html.twig' %}

{% block body -%}
    <h1>FrontBottom creation</h1>
<div id="templatemo_main">

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('frontbottom') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
