<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml; charset=UTF-8" />
        <title>{% block title %}Music!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/foundation.min.css') }}" />
        {% block stylesheets %}
        {% endblock %}

        
    </head>
    <body>
        {% block menu %}
        {% endblock %}
        <div class="row">
            <div class="small-11 small-centered columns">
                {% block body %}
                {% endblock %}
            </div>
        </div>


    </body>
        <script type="text/javascript" src="{{ asset('js/foundation.min.js') }}"></script>
    {% block js %}            
    {% endblock %}
</html>
