{% extends "AppAppBundle::layout.html.twig" %}

{% block body %}
    {% for product in products %}
    <div id="slider_wrapper_n">
        <div class="title">
            <h2>{{ product.title | upper }}</h2>
        </div>

        {% if product.image.url != null %}
            <img src="{{asset('uploads/img/')}}{{ product.image.url }}" alt="Test">
        {% endif %}
    </div>
    <div id="templatemo_main">
        <div class="pdp">
            {{ product.description | raw }}
            <span class="bottom"></span>  
        </div>
    </div>

   {% endfor %}   
{% endblock %}