{% extends "AppAppBundle::layout.html.twig" %}

{% block body %}
{% for product in products %}

    <div class="title">
        {{ product.title | upper }}
    </div>

    <br>
    <br>

    {% if product.image.url != null %}

    <div class="pdt_img">
        <img src="{{asset('uploads/img/')}}{{ product.image.url }}" alt="Test">
    </div>
    {% endif %}

    <br>
    <br>

    <div class="row">
        <div class="panel">
            {{ product.description | raw }}
        </div>
    </div>

   {% endfor %}   
{% endblock %}