.title{
    font-size: 2em;
    font-family: Helvetica;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    color:#525252;
}

.pdt_img{
    max-height: 250px;
    max-width:250px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}