{% extends '::base.html.twig' %}

{% block body -%}
<div id="templatemo_main">

    <h1>FrontBox creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('frontbox') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
