
    <ul>
        <li>
            <a href="{{ path('app_app_homepage') }}" title="">Accueil</a>
        </li>
      {% for menu in menus %}
        <li><a href="{{ path('app_app_product', {'slug':menu.path}) }}">{{ menu.name }}</a></li>
      {% endfor %}
      <li>
        <a href="{{ path('contact') }}" title="">Nous Contacter</a>
      </li>
    </ul>
