{% extends "AppAppBundle::layout.html.twig" %}

{% block body -%}
    <h1>Menu creation</h1>
<div id="templatemo_main">

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('menu') }}">
            Back to the list
        </a>
    </li>
</ul>
</div>
{% endblock %}
