{% extends "AppAppBundle::blocked_layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="small-8 small-centered columns">
            <img src="{{ asset('images/iven_main.gif') }}" alt="Iven">
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="small-5 small-centered columns">
            <p>
                Entrer votre code d'accès: 
                <input type="text" name="access" value="" placeholder="Mon code d'accès">
                <input type="submit" name="submit" value=" Envoyer ">
            </p>  
        </div>
    </div>






















{% endblock %}